<!DOCTYPE html>
<html>
<head>
  <title>Live Tracking</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <style>
    #map { height: 100vh; }
  </style>
</head>

<body>

<div id="map"></div>

<script>
  const token = "{{ token }}";

  const map = L.map('map').setView([27.7, 85.3], 15);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

  let marker = L.marker([27.7, 85.3]).addTo(map);

  async function fetchLocation() {
    const res = await fetch(`/api/get/${token}/`);
    const data = await res.json();

    if (data.latitude && data.longitude) {
      const latlng = [data.latitude, data.longitude];
      marker.setLatLng(latlng);
      map.setView(latlng);
    }
  }

  setInterval(fetchLocation, 3000);
</script>

</body>
</html>